main {
	margin: 0 auto;
	max-width: 800px;
	width: 100%;
}

article {
	margin: 4rem 2rem;
	padding: 0 1rem;
}

section {
	margin: 1rem 0 2rem 0;
	padding: 1em 0;
}

section:first-of-type {
	margin-top: 3rem;
}

h1 {
	color: #34495e;
}

h2 {
	color: #34495e;
	margin-bottom: 0.5em;
}

.feather {
	margin-right: 0.25em;
	vertical-align: middle;
}

article ul {
	margin: 1em 0;
}

article li {
	margin: 0.5em 0;
}

section figure {
	margin: 2em auto;
	padding: 0;
	width: 100%;
}

section img {
	box-shadow: 0 10px 40px 0 #dcdcdc;
	width: 100%;
}

.fake-button {
	background: #ff6666;
	color: #fbe8d3;
	font-family: 'Montserrat';
	font-weight: 700;
	justify-content: center;
	letter-spacing: 0.2em;
	margin: 0 0.25em;
	padding: 0.25em 0.5em;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	user-select: none;
}
