main {
	margin: 0 auto;
	max-width: 800px;
	width: 100%;
}

article {
	margin: 4rem 2rem;
	padding: 0 1rem;
}

section {
	margin: 1rem 0 2rem 0;
}

section:first-of-type {
	margin-top: 3rem;
}

h1 {
	color: #34495e;
}

h2 {
	color: #34495e;
	margin-bottom: 0.5em;
}

.feather {
	margin-right: 0.25em;
	vertical-align: middle;
}

article ul {
	margin: 1em 0;
}

article li {
	margin: 0.5em 0;
}